<!--
============================================
; Title:  error.ejs
; Author: David Tarvin
; Date:   15 May 2019
; Description: part of api-gateway
;===========================================
-->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
